{{define "content"}}
    <div id="bg">
        <img src="/images/whiteboard-849811.webp" srcset="/images/mobile/whiteboard-849811.webp 780w, /images/whiteboard-849811.webp 1920w" alt="About">
    </div>
    <a href="#" onclick="history.back(); return false">
        <img class="about" src="/images/about50.png" alt="Back">
    </a>
    <div class="container">
        <div class="row">
            <div class="two.columns column" style="margin-top: 25%">
                <h2>About</h2>
                <br>
                <h4>Number of responses so far: {{.Responses}}.</h4>
                <br>
                <h4>Why? Becuase John said it was a stupid idea.</h4>
                <br>
                <h4>Images with thanks to <a href="https://pixabay.com/">pixabay</a>.</h4>
                <br>
                <h4>Built with 100% pure <a href="https://go.dev/">Go</a>.</h4>
                <br>
                <a class="button button-yes" href="/intro">Get started</a>
            </div>
            <div class="one-half column" style="margin-top: 25%">
            </div>
        </div>
    </div>
{{end}}
