{{define "content"}}
    <div id="bg">
        <img src="/images/planet.webp" srcset="/images/mobile/planet.webp 780w, /images/planet.webp 1920w" alt="Planet">
    </div>
    <a href="/about">
        <img class="about" src="/images/about50.png" alt="About">
    </a>
    <div class="container">
        <div class="row">
            <div class="two.columns column" style="margin-top: 25%">
                <h2>What are aliens really like?</h2>
                <br>
                <h4>Imagine you have been sent to a planet in a far away galaxy.</h4>
                <br>
                <h4>On this planet there is intelligent life.</h4>
                <br>
                <h4>What do you think they look like? What is their society like?</h4>
                <br>
                <h4>Tell us what you think and we'll tell you what the consensus is.</h4>
                <br>
                <a class="button button-yes" href="/?question=0">Get started</a>
            </div>
            <div class="one-half column" style="margin-top: 25%">
            </div>
        </div>
    </div>
{{end}}
